*{
  font-family: 'Chivo', sans-serif;
}

body,
html {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
  background: url('../img/leaves.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h6 {
  font-family: 'Kaushan Script', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  overflow: hidden;
	background-size: 400% 400%;
	animation: gradient 45s ease infinite;
  animation: colorchange 75s linear 1s infinite; 
-webkit-animation: colorchange 75s linear 0s infinite alternate;
  font-size: 20px; 
  color: rgba(255, 255, 255, 0.952); 
  text-align: center; 
  margin: 0;
}

//words

p {
	letter-spacing: .5em;
	display: inline-block;
  font-weight: bolder;
	border: 4px dashed rgba(255, 255, 255, 0.541);
	border-width: 4px 0;
	padding: 1.5em 0em;
	position: absolute;
	top: 30%;
	left: 50%;
	width: 40em;
	margin: 0 0 0 -20em;
  
  span {
    text-transform: uppercase;
  	font: 700 3em/1 'Kaushan Script', cursive;
  	letter-spacing: 10px;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;

/* Clip Background-text Image */

	  background: url('../img/rainbow1-1.png') repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;

/* Animate Background-text Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 80s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
  }
}

/* Animate Background-text Image */

@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

//rainbow bg

@keyframes colorchange
{
  0%   {background: rgba(192, 3, 3, 0.4)}
  14%  {background: rgba(194, 111, 3, 0.8)}
  28%  {background: rgb(219, 235, 4, 0.4)}
  42% {background: rgba(2, 170, 24, 0.8)}
  56%  {background: rgba(3, 172, 194, 0.4)}
  70%  {background: rgba(2, 12, 146, 0.8)}
  84%  {background: rgba(194, 3, 121, 0.4)}
  100%  {background: rgba(194, 3, 3, 0.8)}
}

@-webkit-keyframes colorchange
{
  0%   {background: rgba(192, 3, 3, 0.4)}
  14%  {background: rgba(194, 111, 3, 0.8)}
  28%  {background: rgb(219, 235, 4, 0.4)}
  42% {background: rgba(2, 170, 24, 0.8)}
  56%  {background: rgba(3, 172, 194, 0.4)}
  70%  {background: rgba(2, 12, 146, 0.8)}
  84%  {background: rgba(194, 3, 121, 0.4)}
  100%  {background: rgba(194, 3, 3, 0.8)}
}

p {
  background-color: rgba(0, 0, 0, 0.514);
  }